/* Super hacky, this aligns the y axis with the grid*/
.meeting-grid > div:nth-child(1) > div:nth-child(1) {
  margin-top: 3rem !important;
}

.availability-booking-page {
  display: flex;
}

.meeting-grid {
  width: 60%;
}

.info-panel {
  width: 40%;
  display: grid;
}

.info-panel-title {
  grid-area: b;
  align-self: start;
}

.info-panel-metadata {
  grid-area: r;
}
