.react-datepicker__day--highlighted {
  border-radius: 0.3rem;
  background-color: #3dcc4a !important;
  color: #fff;
}

.rbc-time-header-cell-single-day {
  display: block !important;
}

/* Super hacky, need something quick*/
#root > div:nth-child(3) > div:nth-child(1) {
  margin-top: 3rem;
}
